asgiref==3.7.2
attrs==23.2.0
build==1.1.1
CacheControl==0.14.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cleo==2.1.0
crashtest==0.4.1
cryptography==42.0.5
distlib==0.3.8
Django==5.0.3
django-debug-toolbar==4.3.0
django-filter==23.5
djangorestframework==3.14.0
docutils==0.20.1
drf-spectacular==0.27.1
dulwich==0.21.7
fastjsonschema==2.19.1
filelock==3.13.1
flake8==7.0.0
flake8-docstrings==1.7.0
gunicorn==21.2.0
idna==3.6
importlib-metadata==7.0.1
inflection==0.5.1
installer==0.7.0
jaraco.classes==3.3.1
jeepney==0.8.0
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
keyring==24.3.1
mccabe==0.7.0
more-itertools==10.2.0
msgpack==1.0.8
packaging==23.2
pexpect==4.9.0
pillow==10.2.0
pkginfo==1.10.0
platformdirs==4.2.0
poetry==1.8.2
poetry-core==1.9.0
poetry-plugin-export==1.6.0
ptyprocess==0.7.0
pycodestyle==2.11.1
pycparser==2.21
pydocstyle==6.3.0
pyflakes==3.2.0
pyproject_hooks==1.0.0
pytz==2024.1
PyYAML==6.0.1
rapidfuzz==3.6.1
referencing==0.33.0
requests==2.31.0
requests-toolbelt==1.0.0
rpds-py==0.17.1
SecretStorage==3.3.3
sentry-sdk==1.40.3
shellingham==1.5.4
snowballstemmer==2.2.0
sqlparse==0.4.4
tomli==2.0.1
tomlkit==0.12.4
trove-classifiers==2024.3.3
typing_extensions==4.10.0
uritemplate==4.1.1
urllib3==2.2.0
virtualenv==20.25.1
zipp==3.17.0
